Repository kubernetes-sigs/aws-iam-authenticator, pull requests merged in 2023-08, with the labels that each got.

#618 Avoid parsing known empty inputs
  pkg/mapper/configmap/configmap.go
  pkg/mapper/configmap/configmap_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm

#619 Avoid parsing known empty inputs
  pkg/mapper/configmap/configmap.go
  pkg/mapper/configmap/configmap_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#622 Avoid parsing single quote empty inputs
  pkg/mapper/configmap/configmap.go
  pkg/mapper/configmap/configmap_test.go
Labels: cncf-cla: yes, size/S, approved, lgtm, ok-to-test

#623 Avoid parsing empty 6
  pkg/mapper/configmap/configmap.go
  pkg/mapper/configmap/configmap_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#625 v0.5.19 release
  version.txt
Labels: cncf-cla: yes, approved, size/XS, lgtm, ok-to-test

#626 v0.6.12 release
  version.txt
Labels: cncf-cla: yes, approved, size/XS, lgtm, ok-to-test
