Repository kubernetes-sigs/aws-iam-authenticator, pull requests merged in 2024-10, with the labels that each got.

#769 add default timeout for http client
  pkg/token/token.go
Labels: cncf-cla: yes, approved, size/XS, lgtm, ok-to-test

#768 Bump go minor version
  .go-version
  go.mod
  tests/e2e/go.mod
  tests/integration/go.mod
Labels: cncf-cla: yes, approved, size/XS, lgtm, ok-to-test

#767 add logs and metrics to find sts call success/failures on global/regional endpoints
  pkg/metrics/metrics.go
  pkg/server/server.go
  pkg/token/token.go
  pkg/token/token_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#770 add kmala to the owners list
  OWNERS
Labels: cncf-cla: yes, approved, size/XS, lgtm
