Repository kubernetes-sigs/aws-iam-authenticator, pull requests merged in 2024-04, with the labels that each got.

#687 chore: Update app K8s dependencies
  .gitignore
  cmd/aws-iam-authenticator/add.go
  cmd/aws-iam-authenticator/init.go
  cmd/aws-iam-authenticator/server.go
  cmd/aws-iam-authenticator/token.go
  cmd/aws-iam-authenticator/verify.go
  go.mod
  go.sum
  hack/tools.go
  hack/update-codegen.sh
  pkg/mapper/crd/controller/controller_test.go
  pkg/mapper/crd/generated/clientset/versioned/fake/register.go
  pkg/mapper/crd/generated/clientset/versioned/scheme/register.go
  tests/e2e/apiserver_test.go
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/testutils/testserver.go
Labels: cncf-cla: yes, approved, size/XXL, lgtm, ok-to-test

#708 updating k8s client libraries and go version
  .github/workflows/deps.yml
  .go-version
  Dockerfile
  go.mod
  go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/integration/go.mod
  tests/integration/go.sum
Labels: cncf-cla: yes, approved, lgtm, size/XL, ok-to-test

#709 chore: Update CI action versions, remove `push` trigger
  .github/workflows/create-release.yml
  .github/workflows/deps.yml
  .github/workflows/tag-release.yml
Labels: cncf-cla: yes, size/M, approved, lgtm

#680 Remove misc files that are no longer used
  .travis.yml
  empty
Labels: cncf-cla: yes, size/S, approved, lgtm, ok-to-test

#713 updating google.golang.org/grpc/otelgrpc to v0.47.0
  tests/integration/go.mod
  tests/integration/go.sum
Labels: cncf-cla: yes, approved, size/L, lgtm, ok-to-test

#711 updating release-0.5 branch to cut a new release
  .github/workflows/create-release.yml
  .github/workflows/deps.yml
  .github/workflows/tag-release.yml
  .gitignore
  .go-version
  Dockerfile
  OWNERS
  cmd/aws-iam-authenticator/add.go
  cmd/aws-iam-authenticator/init.go
  cmd/aws-iam-authenticator/server.go
  cmd/aws-iam-authenticator/token.go
  cmd/aws-iam-authenticator/verify.go
  go.mod
  go.sum
  hack/tools.go
  hack/update-codegen.sh
  pkg/mapper/crd/controller/controller_test.go
  pkg/mapper/crd/generated/clientset/versioned/fake/register.go
  pkg/mapper/crd/generated/clientset/versioned/scheme/register.go
  tests/e2e/apiserver_test.go
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/testutils/testserver.go
Labels: cncf-cla: yes, approved, size/XXL, lgtm, do-not-merge/hold, ok-to-test

#710 updating release-0.6 branch to cut a new release
  .github/workflows/create-release.yml
  .github/workflows/deps.yml
  .github/workflows/tag-release.yml
  .gitignore
  .go-version
  Dockerfile
  OWNERS
  cmd/aws-iam-authenticator/add.go
  cmd/aws-iam-authenticator/init.go
  cmd/aws-iam-authenticator/server.go
  cmd/aws-iam-authenticator/token.go
  cmd/aws-iam-authenticator/verify.go
  go.mod
  go.sum
  hack/tools.go
  hack/update-codegen.sh
  pkg/mapper/crd/controller/controller_test.go
  pkg/mapper/crd/generated/clientset/versioned/fake/register.go
  pkg/mapper/crd/generated/clientset/versioned/scheme/register.go
  tests/e2e/apiserver_test.go
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/testutils/testserver.go
Labels: cncf-cla: yes, approved, size/XXL, lgtm, do-not-merge/hold, ok-to-test

#689 chore: Update CLI dependencies `cobra` and `viper`
  go.mod
  go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/integration/go.mod
  tests/integration/go.sum
Labels: cncf-cla: yes, approved, size/L, lgtm, ok-to-test

#714 fix: Add random string to e2e test role to avoid pipeline run conflicts
  hack/e2e/run.sh
Labels: cncf-cla: yes, approved, size/XS, lgtm

#715 chore: Remove emeritus reviewers from `SECURITY_CONTACTS`
  OWNERS
  SECURITY_CONTACTS
Labels: cncf-cla: yes, approved, size/XS, lgtm

#717 updating release branch to 0.6.20
  version.txt
Labels: cncf-cla: yes, approved, size/XS, lgtm, ok-to-test

#718 updating release branch to 0.5.27
  version.txt
Labels: cncf-cla: yes, approved, size/XS, lgtm, ok-to-test
