Repository kubernetes-sigs/aws-iam-authenticator, pull requests merged in 2024-02, with the labels that each got.

#692 Repo controlled build go version
  .gitignore
  .go-version
  Dockerfile
  Makefile
  hack/setup-go.sh
  hack/test-integration.sh
  hack/test-unit.sh
Labels: cncf-cla: yes, size/M, approved, lgtm

#690 add support for e2e latency for dynamic mode and adoption rate metrics
  pkg/fileutil/util.go
  pkg/fileutil/util_test.go
  pkg/mapper/dynamicfile/dynamicfile.go
  pkg/mapper/dynamicfile/dynamicfile_test.go
  pkg/metrics/metrics.go
  pkg/server/server.go
  pkg/server/types.go
Labels: cncf-cla: yes, approved, size/L, lgtm, ok-to-test

#695 release v0.5.25
  pkg/fileutil/util.go
  pkg/fileutil/util_test.go
  pkg/mapper/dynamicfile/dynamicfile.go
  pkg/mapper/dynamicfile/dynamicfile_test.go
  pkg/metrics/metrics.go
  pkg/server/server.go
  pkg/server/types.go
  version.txt
Labels: cncf-cla: yes, approved, size/L, needs-ok-to-test, lgtm

#694 release v0.6.18
  pkg/fileutil/util.go
  pkg/fileutil/util_test.go
  pkg/mapper/dynamicfile/dynamicfile.go
  pkg/mapper/dynamicfile/dynamicfile_test.go
  pkg/metrics/metrics.go
  pkg/server/server.go
  pkg/server/types.go
  version.txt
Labels: cncf-cla: yes, approved, size/L, needs-ok-to-test, lgtm
