Repository kubernetes-sigs/aws-iam-authenticator, pull requests merged in 2025-01, with the labels that each got.

#801 chore: Update golang x package transitive dependencies
  go.mod
  go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/integration/go.mod
  tests/integration/go.sum
Labels: cncf-cla: yes, approved, size/L, lgtm

#808 Release 0.6
  CHANGELOG.md
  deploy/example.yaml
  docs/RELEASE.md
  go.mod
  go.sum
  hack/changelog.py
  hack/update-codegen.sh
  pkg/mapper/crd/apis/iamauthenticator/v1alpha1/zz_generated.deepcopy.go
  pkg/mapper/crd/generated/clientset/versioned/clientset.go
  pkg/mapper/crd/generated/clientset/versioned/doc.go
  pkg/mapper/crd/generated/clientset/versioned/fake/clientset_generated.go
  pkg/mapper/crd/generated/clientset/versioned/typed/iamauthenticator/v1alpha1/fake/fake_iamauthenticator_client.go
  pkg/mapper/crd/generated/clientset/versioned/typed/iamauthenticator/v1alpha1/fake/fake_iamidentitymapping.go
  pkg/mapper/crd/generated/clientset/versioned/typed/iamauthenticator/v1alpha1/iamauthenticator_client.go
  pkg/mapper/crd/generated/clientset/versioned/typed/iamauthenticator/v1alpha1/iamidentitymapping.go
  pkg/mapper/crd/generated/informers/externalversions/factory.go
  pkg/mapper/crd/generated/informers/externalversions/generic.go
  pkg/mapper/crd/generated/informers/externalversions/iamauthenticator/v1alpha1/iamidentitymapping.go
  pkg/mapper/crd/generated/listers/iamauthenticator/v1alpha1/iamidentitymapping.go
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/integration/go.mod
  tests/integration/go.sum
Labels: cncf-cla: yes, approved, size/XXL, lgtm, ok-to-test

#777 Fix credential expirability check
  pkg/filecache/converter.go
  pkg/filecache/filecache.go
Labels: cncf-cla: yes, approved, size/XS, lgtm, ok-to-test

#811 Adding missing changes form master to release-0.6
  cmd/aws-iam-authenticator/add.go
  cmd/aws-iam-authenticator/root.go
  docs/sso_role_matcher.md
  pkg/arn/arnlike.go
  pkg/arn/arnlike_test.go
  pkg/config/features.go
  pkg/config/mapper.go
  pkg/config/mapper_test.go
  pkg/config/types.go
  pkg/filecache/converter.go
  pkg/filecache/filecache.go
  pkg/mapper/configmap/client/client.go
  pkg/mapper/configmap/client/client_test.go
  pkg/mapper/configmap/configmap.go
  pkg/mapper/configmap/configmap_test.go
  pkg/mapper/file/mapper.go
  pkg/mapper/file/mapper_test.go
  pkg/server/server.go
Labels: cncf-cla: yes, approved, size/XXL, lgtm, ok-to-test
